<div class="container-fluid blue-theme vcenter full-height">
  <div class="container-fluid blue-theme ">
      <div class="row">
      <div class="col-sm-2 col-xs-6 col-sm-offset-1 full-height vcenter"><a ui-sref="messages" class="vcenter"><img src="../static/img/Message-Default-480X480.png" alt="" style="width:80%;"/></a></div>
      <div class="col-sm-2 col-xs-6 full-height vcenter"><a ui-sref="remoteHelp" class="vcenter"><img src="../static/img/RemoteHelp-Default-480X480.png" alt="" style="width:80%;"/></a></div>
      <div class="col-sm-2 col-xs-6 full-height vcenter"><a ui-sref="v-sme" class="vcenter"><img src="../static/img/VirtualSME-Default-480X480.png" alt="" style="width:80%;"/></a></div>
      <div class="col-sm-2 col-xs-6 full-height vcenter"><a ui-sref="library" class="vcenter"><img src="../static/img/RefLibrary-Default-480X480.png" alt="" style="width:80%;"/></a></div>
      <div class="col-sm-2 col-xs-6 full-height vcenter"><a ui-sref="share-sop" class="vcenter"><img src="../static/img/UploadDOC-Default-480X480.png" alt="" style="width:80%;"/></a></div>
    </div>
    <div class="row text-center">
      <div class="col-sm-2 col-xs-0 col-sm-offset-1 full-height ">MESSAGES</div>
      <div class="col-sm-2 col-xs-0 full-height ">REMOTE HELP</div>
      <div class="col-sm-2 col-xs-0 full-height ">VIRTUAL SME</div>
      <div class="col-sm-2 col-xs-0 full-height ">REF LIBRARY</div>
      <div class="col-sm-2 col-xs-0 full-height ">SHARE CHECKLIST</div>
    </div>
  </div>
</div>
