/*.form-signin {
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
}
@media (min-width:768px) {
  .form-signin {
    background-color: #333;
    border-top: 1px solid #292929;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 1px 1px 1px rgba(10,10,10,.5), -1px 1px 1px rgba(10,10,10,.5), 0 2px 2px rgba(4,4,4,.5);
    padding-bottom: 30px;
  }
}
.form-signin .form-signin-heading {
  margin-bottom: 20px;
}
.form-signin .form-signin-heading {
  color:#fff;
  font-family:verdana;
  font-weight:bold;
  text-align: center;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}*/


body{
  background-color: #333;
  height: 100%;
  max-width: 100%;
}
/*.login-container {
  background-color: #0099ff;
  background: radial-gradient(#4db8ff,#0077ff);
  padding: 10px;
}*/
.login-bg {
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.center-container {
  white-space: nowrap;
  overflow: hidden;
}
.login-box {
  display: inline-block;
  margin-top: 20px;
  margin-left: 0;
  transition: margin-left .2s ease-out;
  width: 100%;
  z-index: 1;
}
.reset-password-box {
  display: inline-block;
  width: 100%;
}
.input {
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  color: #eee;
  display: flex;
  font-family: segoe-ui;
  height: 50px;
  margin: 0 auto 20px;
  outline: none;
  width: 420px;
}
.input span {
  align-self: center;
  float: left;
  margin-left: 15px;
  font-size: 30px;
}
.input input {
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin: 0;
  margin-left: 10px;
  outline: none;
  padding: 10px;
  text-align: left;
  width: 100%;
}
.input input::-webkit-input-placeholder,
.input input::-moz-placeholder,
.input input:-ms-input-placeholder,
.input input:-moz-placeholder {
  color: #ddd;
}
.options {
  color: #eee;
  display: flex;
  height: 50px;
  margin-bottom: 10px;
  padding: 0 15px;
  outline: none;
}
.options span {
  align-self: center;
  float: left;
  font-size: 35px;
}
.options span.fa-square-o {
  margin-right: 5px;
}
.options span.fa-checked-square-o {
  margin-right: 0;
}
.options #spanForgotPassword {
  color: #08f;
  font-size: 20px;
  right: 15px;
  text-decoration: underline;
  top: calc(50% - 14px);
}
.options #spanForgotPassword:hover {
  color: #eee;
  text-decoration: underline;
}
.options #spanForgotPassword:active {
  color: #eee;
}
.login-box button {
  border-radius: 0;
  font-family: segoe-ui-bold;
  font-size: 20px;
  height: 50px;
  outline: none !important;
}
.login-box button.btn-success {
  background-color: #090;
  border-color: #080;
}
.login-box button.btn-success:hover {
  background-color: #00b300;
}
.login-box button.btn-success:active {
  background-color: #00b300;
  color: #080;
}
.login-box button.btn-success:hover:active {
  background-color: #00b300;
  color: #080;
}
.login-box button.btn-success:focus:active {
  background-color: #00b300;
  color: #080;
}
.login-box button.btn-warning {
  background-color: #fe9500;
  border-color: #ce9500;
}
.login-box button.btn-warning:hover {
  background-color: #ffaf00;
}
.login-box button.btn-warning:active {
  background-color: #de9500;
  color: #b70;
}
.login-box button.btn-warning:hover:active {
  background-color: #de9500;
  color: #b70;
}
.login-box button.btn-warning:focus:active {
  background-color: #de9500;
  color: #b70;
}
.reset-password-box .input {
  font-family: segoe-ui-light;
}
.reset-password-box button {
  border-radius: 0;
  font-family: segoe-ui-bold;
  font-size: 20px;
  height: 50px;
  outline: none !important;
}
.reset-password-box button.btn-success {
  background-color: #090;
  border-color: #080;
}
.reset-password-box button.btn-success:hover {
  background-color: #00b300;
}
.reset-password-box button.btn-success:active {
  background-color: #00b300;
  color: #080;
}
.reset-password-box button.btn-success:hover:active {
  background-color: #00b300;
  color: #080;
}
.reset-password-box button.btn-success:focus:active {
  background-color: #00b300;
  color: #080;
}
.reset-password-box .go-back {
  background-color: rgba(51,173,255,.5);
  border-radius: 50%;
  box-shadow: 1px 1px 2px #0077ff;
  color: #eee;
  cursor: pointer;
  font-size: 22px;
  margin-bottom: 30px;
  padding: 7px 12px 7px 9px;
}
.reset-password-box .go-back:hover {
  background-color: rgba(26,163,255,.5);
  color: #fff;
}
.reset-password-box .go-back:active {
  color: #eee;
}
.msg-container {
  background-color: transparent;
  bottom: 0;
  border: 1px solid transparent;
  color: #eee;
  display: flex;
  min-height: 50px;
  left: 0;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.msg-container.error {
  background-color: #c9302c;
  border: 1px solid #ac2925;
}
.msg-container.warning {
  background-color: #f0ad4e;
  border: 1px solid #eea236;
}
.msg-container.success {
  background-color: #5cb85c;
  border: 1px solid #4cae4c;
}

.w3-check{
  width:20px;
  height:20px;
  position:relative;
  top:10px
}
