/******** Navbar styling ********/
.navbar {
  border-radius: 0;
  margin-bottom: 0;
  min-height: 40px;
  background-color: #0099ff;
  border-color: #0099ff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #0bf;
}

.navbar-inverse .navbar-brand {
  color: white;
  margin-top: 10px;
  cursor: pointer;
  padding : 0 10px;
  height: 25px;
  width : auto;
  /*background-image: url('../img/imagine-white.png');*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.navbar-toggle {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 7px 10px;
}
.navbar-nav {
  margin: 7.5px 0;
}
.navbar .nav li a {
  cursor: pointer;
  font-size: 15px;
}
.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width:768px) {
  .navbar-nav {
    margin: 0;
    margin-right: -15px;
  }
}
